<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hello SpringBoot</title>
    <script src="../static/plugin/angular/angular.min.js"></script>
    <link href="../static/plugin/bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <!--<script src="/ui/ui-bootstrap-tpls-2.5.0.min.js"></script>-->
</head>
<body>
<div ng-app="myApp" class="container" ng-controller="siteCtrl">
    <table class="table table-striped">
       <thead>
       <tr>
           <th>id</th>
           <th>姓名</th>
           <th>年龄</th>
           <th>cup</th>
       </tr>
       </thead>
        <tbody>
         <tr ng-repeat=" item in girls"></tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" src="js/index.js"></script>
</html>