<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Hello SpringBoot</title>
    <script src="/plugin/angular/angular.min.js"></script>
    <link href="/plugin/bootstrap-3.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/ui/ui-bootstrap-tpls-2.5.0.min.js"></script>
</head>
<body>
<div ng-app="myApp" class="container" ng-controller="siteCtrl">
    <div class="row">
        <div class=" col-md-offset-8 col-md-4">
            <button type="button" class="btn btn-primary btn-sm">（小按钮）Small button</button>
            <button type="button" class="btn btn-primary btn-sm">（小按钮）Small button</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>cup</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat=" item in girls"></tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/index.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</html>